<h1>Success</h1>

<div class="card">
    <div class="container">
        <div class="popup center">
            <div class="icon">
                <i class="fa fa-check"></i>
            </div>
            <div class="title">
                Success!!
            </div>
            <div class="description">
                <h5>Your Order Has Been Placed Successfully!</h5>
                <p style="margin-top: 20px;">Your Order Id is: <span
                        style="color: #ffff; font-size: 30px;">{{orderId}}</span></p>
            </div>
            <div class="dismiss-btn">
                <button id="dismiss-popup-btn" style="font-weight: 400;" (click)="goToDashboard()">
                    Go To Dashboard
                </button>
            </div>
        </div>
    </div>
</div>