<h1>Orders</h1>
<hr>
<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="title">
                <button type="button" class="btn" (click)="openDialog()" routerLink="../add-order">Add New
                    Order</button>
            </div>
            <div class="table">
                <table>
                    <tr>
                        <th>Order Id</th>
                        <th>Total Product Ordered</th>
                        <th>Net Price</th>
                        <th>Ordered Date</th>
                        <th>Order Status</th>
                        <th>View Details</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    <tr *ngFor="let order of orderDetails">
                        <td>{{order.orderId}}</td>
                        <td>{{order.product.length}}</td>
                        <td><i style="color: #28a745; font-size:15px;">Rs.</i> {{order.totalPrice}}</td>
                        <td>{{order.orderDate}}</td>
                        <td *ngIf="order.orderStatus=='Placed'">
                            <span class="status orange"></span>
                            Placed
                        </td>
                        <td *ngIf="order.orderStatus=='Shipped'"><span class="status yellow"></span>
                            Shipped</td>
                        <td *ngIf="order.orderStatus=='Packed'"><span class="status purple"></span>
                            Packed</td>
                        <td *ngIf="order.orderStatus=='Delivered'"><span class="status green"></span>
                            Delivered</td>
                        <td><a (click)="viewOrder(order)"><span class="fa fa fa-eye"
                                    style="color: #007bff; cursor: pointer;"></span></a></td>
                        <td><a (click)="updateOrder(order)"><span class="fa fa-pencil update"></span></a></td>
                        <td><a (click)="deleteOrder(order.orderId)"><span class="fa fa-trash delete"></span></a></td>

                    </tr>



                </table>
            </div>
        </div>
    </div>
</div>