<h1>Dashboard</h1>
<hr>

<div class="container mt-5 ml-1 mb-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-header bg-primary text-white">
                    <div class="row align-items-center">
                        <div class="col">
                            <i class="fa fa-diamond fa-4x"></i>
                        </div>
                        <div class="col mt-2">
                            <h1 style="font-size:44px;">{{totalProducts}}</h1>
                            <h6 style="font-size:12px;">Products</h6>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p><button class="button" (click)="productNavigate()">View Details</button></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-header bg-success text-white">
                    <div class="row align-items-center">
                        <div class="col">
                            <i class="fa fa-bar-chart fa-4x"></i>
                        </div>
                        <div class="col mt-2">
                            <h1 style="font-size:44px;">{{totalOrders}}</h1>
                            <h6 style="font-size:12px;">Orders</h6>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p><button class="button" (click)="orderNavigate()">View Details</button></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-header bg-warning text-white">
                    <div class="row align-items-center">
                        <div class="col">
                            <i class="fa fa-user-o fa-4x"></i>
                        </div>
                        <div class="col mt-2">
                            <h1 style="font-size:44px;">{{totalCustomers}}</h1>
                            <h6 style="font-size:12px;">Customers</h6>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p><button class="button" (click)="customerNavigate()">View Details</button></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-header bg-info text-white">
                    <div class="row align-items-center">
                        <div class="col">
                            <i class="fa fa-trophy fa-2x"></i>
                        </div>
                        <div class="col mt-2">
                            <h1 style="font-size:44px;">{{totalIncome}}</h1>
                            <h6 style="font-size:12px;">Total Earning (in INR)</h6>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p><button class="button">View Details</button></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="recent-flex">
    <div class="projects">
        <div class="card ">
            <div class="card-header bg-dark">
                <h2>Recent Orders</h2>
            </div>
            <div class="card-body">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>Order Id</td>
                            <td>Order Date</td>
                            <td>Order Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of order">
                            <td>{{order.orderId}}</td>
                            <td>{{order.orderDate}}</td>
                            <td *ngIf="order.orderStatus == 'Delivered'">
                                <span class="status green"></span>
                                Delivered
                            </td>
                            <td *ngIf="order.orderStatus == 'Shipped'"><span class="status yellow"></span>
                                Shipped</td>
                            <td *ngIf="order.orderStatus == 'Packed'"><span class="status purple"></span>
                                Packed</td>
                            <td *ngIf="order.orderStatus == 'Placed'"><span class="status orange"></span>
                                Placed</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="customers">
        <div class="card ">
            <div class="card-header bg-dark">
                <h2>Customers</h2>
            </div>
            <div class="card-body">
                <div class="customer" *ngFor="let c of customer">
                    <div class="info">
                        <img src="../../../assets/images/{{c.image}}" alt="" width="30px" height="30px">
                        <div>
                            <h4>{{c.name}}</h4>
                            <small>{{c.address}}</small>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="fa fa-user-circle"></span>
                        <span class="fa fa-comments-o"></span>
                        <span class="fa fa-phone"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>