* {
  box-sizing: border-box;

}

.card-item-title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}

.card-item-desc {
  font-size: 13px;
  color: #ffffff;
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
}

.card-contact-wrapper {
  margin-top: 20px;
}

.card-header {
  background-color: #ffffff;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-top: -98px;
  margin-left: 100px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin-right: 100px
}

.card {
  max-width: 340px;
  margin: auto;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  transition: 0.3s;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
  margin-top: 100px;
  height: 234px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.card-header {
  position: relative;
  display: flex;
  height: 70px;
  flex-shrink: 0;
  width: 100%;
  transition: 0.3s;
}

.card-fullname {
  position: absolute;
  bottom: 0;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-10px) translateX(-50%);
  left: 50%;
}

h1 {
  color: black;
}

.card-jobtitle {
  position: absolute;
  bottom: -8px;
  font-size: 11px;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%) translateY(-7px);
}

.card-main {
  position: relative;
  flex: 1;
  display: flex;
  padding-top: 10px;
  flex-direction: row;
}

.card-subtitle {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 8px;
}

.card-content {
  padding: 20px;
  margin-bottom: 100px;
}

.card-desc {
  line-height: 1.6;
  color: #636b6f;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}
