<h1>About Us</h1>
<hr>
<div class="grid-container">
    <div class="grid-item">
        <div class="card">
            <div class="card-main">
                <div class="card-section is-active" id="about">
                    <div class="card-header">
                        <h1 class="card-fullname">Shrirang Dharkar</h1>
                        <h2 class="card-jobtitle">Developer</h2>
                    </div>
                    <div class="card-content">
                        <div class="card-subtitle">ABOUT</div>
                        <p class="card-desc">Shrirang has developed backend and designed UI of the TruCrm </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>