img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}


span {
  font-size: 24px;
  color: #28a745;
}

.cross {
  color: red !important;
}



table {
  margin-top: 40px;
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  background-color: #fff;

}

td,
th {
  padding: 15px 20px;
  text-align: center;
}

tr {
  text-align: center;
}

th {
  background-color: #222222;
  color: #fafafa;
  font-family: 'Open Sans', Sans-serif;
  font-weight: 200;
  text-transform: uppercase;

}

tr {
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}


.fare {
  margin-top: 2rem;
  margin-left: 2rem;
  float: right;
  color: #333333;
}

.fare h2 {
  font-size: 1.5rem;
}

.fare span {
  color: #007bff;
}

.nextBtn {


  align-items: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
  margin-left: 6rem;
  height: 45px;
  width: 80%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  background: #007bff;
  cursor: pointer;


}

.nextBtn span {
  margin-right: 8px;
}
