<div>
    <p>
        <mat-toolbar color="primary">
            <img src="../../../assets/images/data-science.png"
                style="height: 50px; width: 50px; margin-top: 0.8rem; margin-right: 1rem;" alt="">
            <span style="font-size: 2rem;">TruCrm</span>
            <span class="example-spacer"></span>
            <button mat-raised-button color="accent" style="font-size: 1.2rem; padding: 5px 15px;"
                (click)="openDialog()">Sign
                Up</button>
            <button mat-raised-button color="accent" style="font-size: 1.2rem; padding: 5px 15px;"
                (click)="openSignIn()">Sign In</button>
        </mat-toolbar>
    </p>

    <div class="content">
    </div>
    <div class="container">
        <h1>Welcome to TruCrm</h1>
        <p>We cares the event and the maintenance of interdependent relationships with strategically significant
            partners.
            <span class="br">It focus is that the creation of long-term value, and not just short-term profits, for the
                corporate
                and
                everyone it works with.</span>
        </p>
    </div>
</div>